#nav,#nav ul {
  list-style: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  float: left;
  width: 99.9%;
  font-family: "Arial", "Verdana", "Helvetica", sans-serif;
}


#nav > li > span {
  padding-top:2px;
}

#nav nobr {
  font-size: 8pt;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

#nav span {
  font-size: 8pt;
  display: block;
}

#nav,#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  float: left;
  width: 100%;
}

#nav li {
  white-space: nowrap;
  height: 23px;
  z-index: 5;
  float: left;
  position: relative;
  background: none;
}

#nav li ul {
  display: none;
  position: absolute;
  width: 198px;
}

#nav > li > ul {
  margin-top: 3px;
}

#nav li li a {
  width: 178px;
}

#nav .lihov:hover ul,#nav .lihov.jshover ul {
  display: block;
}

#nav a {
  color: #000;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.lihov {
  top: 3px;
}

.lihov > span{
  padding: 0 7px;
}

#nav a:hover {
  color: #000;
}

#nav .lihov:hover li ul,#nav .lihov.jshover li ul {
  display: none;
  width: 198px;
  top: -9px;
  left: 193px;
}

#nav .lihov:hover li:hover ul,#nav .lihov.jshover li.jshover ul {
  display: block;
}

#nav,#nav ul {
  border-top: 1px solid #cdcdcd;
}